.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
.heading {
  width: 836px;
  height: 53.59px;
  color: black;
  font-size: 34pt;
  font-family: 'Inria Serif', Helvetica;
  border-bottom: 3px solid #d9d9d9;
  border-width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .heading {
    width: 300px;
    font-size: 16pt;
  }
}

.bagan-struktur {
  width: 100%;

  border: 1px solid;
  border-color: black;
}
