/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #d9d9d9;

  /* grey */
  --grey: #d9d9d9;
  --grey-100: #868686;
  --grey-200: #DDDDDD;
  --grey-300: #F2F2F2;
  --grey-400: #CAD1D8;
  --grey-500: #D9D9D9;
  --grey-600: #6B6666;
  --grey-700: #6F707E;

  /* brown */
  --brown: #BAA883;

  /* rest of the colors */
  --black: #222;
  --white: #fff;

  --blue:#003169;
  --greyBlue:#595A66;
  --blue-200: #7BA2B8;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green: #6B8E23;
  --green-200: #5C965B;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1520px;
  --fixed-width: 600px;
  --view-width: 90vw;
  --card-max-width:310px
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 100%;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 4rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/* 
============= 
PROJECT CSS
=============
*/


 .nav-center {
  justify-content: space-between;
}
.page {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 2rem;
}

.landing-profile {
  width: var(--view-width);
  max-width: var(--max-width);
}

.card-container {
  background-color: var(--grey);
  margin-top: 20px;
  height: 420px;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;

  border: 2px solid #000;
}

.info-image {
  width: 103px;
  height: 99px;
}

/* Add a media query for smaller screens (adjust the breakpoint as needed) */
@media (max-width: 768px) {
  .card-container {
    width: 80%; /* Adjust the width to fit the screen width */
    margin: 20px auto; /* Center the card on the screen */
  }
}


.section-center {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping for smaller screens */
  justify-content: space-around;
  width: 100%;
  max-width: var(--max-width); /* Limit the maximum width for larger screens */
  background-color: var(--green-200);
}


.info-school{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 100px 60px;
}



.image-akreditasi {
  width: 100%; /* Make the image responsive to its container */
  max-width: 712px; /* Set a max width to prevent the image from becoming too large */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
}

.container-akreditasi {
  display: flex;
  flex-direction: column; /* For small screens, stack elements vertically */
  gap: 30px;
  align-items: center;
  background-color: var(--green-200);
  padding: 45px;
  

  @media (min-width: 968px) {
    flex-direction: row; /* For larger screens, display elements in a row */
    justify-content: space-between; /* Add space between elements */
  }
}

.info-akreditasi {
  font-size: 18px;
  text-align: center;
}

/* Add media query for larger screens to control the image size */
@media (min-width: 1024px) {
  .image-akreditasi {
    width: 700px; /* Make the image take up the full width on larger screens */
    height: auto;
  }
}


.container-news {  
  border-radius: 5px;
}

.header-news{
  display: flex;
  flex-direction: column;

  color: white;
}
.heading-news{
  color: black;
}
.wave-news-up{
  width: 100%;
  max-width: var(--max-width);
  height: 150px;
  
}
.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-news{
  text-align: center;
  
}
.line{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line-sub-header{
  width: 836px;
  color: var(--grey);
  background-color: var(--grey);
  border: none;
  height: 2px;

}
.line-header{
  width: 333px;
  color: var(--grey);
  height: 4px;
  background-color: var(--grey);
  border: none;
 
}
.line-sub-header-dashboard{
  width: 420px;
  color: var(--grey);
  background-color: var(--grey);
  border: none;
  height: 6px;

}
.line-header-dashboard{
  width: 226px;
  color: var(--grey);
  height: 4px;
  background-color: var(--grey);
  border: none;
 
}


.content-news {
  display: flex;
  
  margin: 20px 0;
}
.logo-news {
display: flex;
  align-items: center;
  width: 750px;
  margin-right: 70px;
  margin-left: 70px;
}

.news{
  position: relative;

  flex-direction: column;
  justify-content: end;
  padding:  30px 70px;

}
 .news-text, .calender-text{

  color: white;
  text-align: start;
}
.header-news{
  margin-trelativeop: 100px;
  margin-bottom: 15px;
  text-align: start;
  font-size: 20px;
}
.ic-news{
  margin-bottom: 5px;
  display: flex;
  gap: 8px;

}
.news-image {
  width: 100%; /* Set the width to 100% of the parent container */
  height: auto; /* Maintain the aspect ratio */
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px; /* Adjust padding as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Optional overlay background */
  color: #fff; /* Optional text color */
}
.ic-calendar{
  display: flex;
  gap: 8px;

}
.icon-news, .icon-calendar{
  width: 14px;
  height: 14px;
}
 .section-news {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

  
   
  }



@media screen and (min-width: 768px) {
  .section-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  
  
   
  }
}
@media screen and (min-width: 1170px) {
    .section-news {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
      padding: 20px 100px;
  
  }
}





/* Motivate.css */
.container-motivate {
  background-image: url("../src/assets/bg-motivate.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 738px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.image-motivate img {
  max-width: 100%;
  height: auto;
}

.quote {
  font-size: 24px;
  text-align: center;
}

@media (max-width: 768px) {
  .container-motivate {
    padding: 20px;
    height: auto;
  }

  .quote {
    font-size: 18px;
  }
}

Footer{
  text-align: center;
  color: white;
}


.container-profile-card{
  margin-top: 150px;
  width:var(--max-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  border: 2px solid var(--grey-200);
}

.header-profile-card{
  display: flex;
  justify-content: center;
}

.border-profile-card{
  background-color: var(--grey-100);
  width: max-content;
  padding: 0 200px;
  margin-top: 35px;
  

}
.header-profile-card{
  color: white;
  
}
.img-profile-card{
  margin-left: 50px;
}
.deskripsi-profile-card{
  margin-right: 200px;
  text-align: justify;
  margin-bottom: 100px;
}
.img-profile-card{
  width: 187px;
  height: 273px;
}
.content-profile-card{
  display: flex;
  gap: 100px;

}


.kepala-sekolah-profile-card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.name-profile-card{
  background-color: var(--blue);
  border-radius: 50px;
  padding: 0 10px;
  margin-left: 50px;

}
.name-kepala-sekolah{
  color: white;
}
.container-visi-misi{
  margin-top: 150px;
  width:var(--max-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  border: 2px solid var(--grey-200);

}

.visi-sekolah{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.header-visi-text{
  font-weight: bold;
}
.deskripsi-visi{
  margin: 0 400px;
}
.dekskripsi-visi-paragraph{
  text-align: center;
}

.header-misi{
  text-align: center;

}
.misi-Container{
  background-color: var(--grey);
  padding: 30px;
  text-align: center;
  align-items: center;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .section-misi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 20px 100px;
  
   
  }
}
@media screen and (min-width: 1170px) {
    .section-misi {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  
  }
}
.container-fasilitas{
  margin-top: 150px;
  width:var(--max-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  border: 2px solid var(--grey-200);

}
.fasilitas-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-fasilitas{
  background-color: var(--greyBlue);
  padding: 20px;
  border-radius: 25px;
}
.type-fasilitas{
  margin-top: 10px;
  background-color: var(--greyBlue);
  padding: 10px;
  border-radius: 25px;
}
.name-fasilitas{
  color: white;
}


.img-fasilitas{

 width: 196.58px;
height: 107.884px; 
}

@media screen and (min-width: 768px) {
  .section-fasilitas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 20px 100px;
  
   
  }
}
@media screen and (min-width: 1170px) {
    .section-fasilitas {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  
  }
}


.demo-logo-vertical{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo-sidebar{
  width: 69px;
  height: 62px; 
  margin: 10px 0;
}

.logo-sidebar-name{

  font-size: 15px;
  color: #fff; 
  text-align: center;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-layout .ant-layout-sider {
  position: relative;
  min-width: 0;
  background: var(--green);
  transition: all 0.2s,background 0s;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-menu-dark, :where(.css-dev-only-do-not-override-2i2tap).ant-menu-dark > .ant-menu {
  color: rgba(255, 255, 255, 0.65);
  background:var(--green);
}

:where(.css-dev-only-do-not-override-2i2tap).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-2i2tap).ant-menu-dark > .ant-menu .ant-menu-item-selected {
  background-color: #E6B10A;
}

.header-name-bar{
  display: flex;
  justify-content: end;
}
.logo-name-bar{
  background-color: #E6B10A;
  padding-right: 10px;
  padding-left: 10px;

}
.name-bar{
  background-color: #E6B10A;
  padding-right: 10px;
 
}

.header-name-dashboard{
  margin-bottom: 10px;
}
.profile-pengguna-dashboard{
  background-color: var(--grey-300);
  height: 50px;
  display: flex;
  justify-content: space-between;

}

.profile-pengguna-text-dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10px;
  
}

.profile-pengguna-ubah-password-dashboard{
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-color: var(--grey-400);
  height: 100%;
  padding: 10px;
}

.icon-lock-dashboard{
  margin-right: 5px;
}

.header-text-dashboard{
  margin-bottom: 30px;
}
.header-container-dashboard{
  margin-bottom: 50px;
}

.card-bio-dashboard{
  background-color: var(--grey-300);
  width: 401px;
  height: 441px;
  border-radius: 24px;
}

.img-card-bio-dashboard{
 
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.image-card-bio-dashboard{
  width: 200px; /* Set the width of the content area */
  height: 193px;
  display: block; 
  margin: 0 auto; 
}
.NIP{
  font-weight: bold;
}
.value-nip{
  font-weight: bold;
}


.bio-card-data-dashboard{
  margin: 0 40px;
}

.value-nip-card-bio-dashboard{
  padding-bottom: 5px;
}

.name-card-bio-dashboard{
  padding-top: 5px;


}

.NAME{
  font-weight: bold;
}
.value-name{
  font-weight: bold;
}
.content-container-dashboard{
  display: flex;
 justify-content: space-between;
  
}
.header-statistik-murid-dashboard{
  margin-bottom: 20px;
}

.card-header-data-dashboard{
  background-color: var(--grey-500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px ;
  border: 2px solid #B8B8B8;
}

.name-header-data-dashboard{
  font-size: 34px;
}

.container-card-data-dashboard{
  background-color: var(--grey-300);
  display: flex;
  padding: 26px 17px;
  gap: 25px;
  border-top: 2px solid #000;
}

.container-card-statistik-dashboard{
  margin-top: 60px;
}
.card-statistik-murid-dashboard{
  background-color: var(--grey-300);
  padding: 40px;
  border-radius: 24px;


}
.card-statistik-gurutendik-dashboard{
  background-color: var(--grey-300);
  padding: 40px;
  border-radius: 24px;

  
}
.percentage-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border: 1px solid #666;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: var(--grey-600); /* Green color for the progress */
  color: #fff;
  text-align: center;
  line-height: 20px; /* Center the text vertically */
  
}

.container-card-statistik-dashboard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

}

.btn-add-murid{
  background-color: var(--grey-700);
  color: white;
 width: 200px;
 height: 60px;
  text-align: center;
}

.button-contain{
  margin-left: 50px;
  margin-top: 30px;
}
.btn-save-murid{
  background-color: var(--grey-700);
  color: white;
  
  text-align: center;
}
.header-murid-form{
  display: flex;
  justify-content: space-between;
}
.container-table-murid{
  margin-top: 100px;
}
.icon-edit-data{
  display: flex;
  justify-content: end;
  gap: 20px;
}

.btn-upload-photo{
  background-color: var(--grey-700);
  color: white;

  width: 100px;
}
.upload-photo-container{
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-navbar-container {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show  {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.navbar-logo{
  width: 70px;
  height: auto;
}
.nav-area{
  display: flex;
  justify-content: space-between;
}


 .btn-login{
       background-color: var(--brown); 
      color: #fff; 
      padding: 10px 20px; 
      border: none; 
      border-radius:20px
    }

.searchIcon{
      margin-left: 20px;
      background-color: var(--brown); 
      color: #fff; 
      padding: 6px 15px; 
      border: none; 
      border-radius:20px

    }

.sub-header-name-bar{
  background-color: var(--grey-500);
  width:100%;
  border: 1.5px solid #000;

}

.name-section-bar{
  padding-left: 20px;
  font-size: 30px;
  font-weight: bold;
}
.foto-table{
  width: 50%;
}

.Container-news-page{
  margin-top: 100px;
}